# NOTA:l Los comentarios no pueden ir en la misma línea que el nombre de los archivos
# esto recién lo estoy descubriendo. Al parecer, aún siendo comentarios, .gitignore
# toma como inválida la linea is contiene mas de una palabra

# macOS (archivos de configuración de carpetas)
.DS_Store           
.AppleDouble
.LSOverride
# Windows (archivos de miniaturas)
Thumbs.db           
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.bak
*.tmp
*.temp

#  Maven's builddirectory (archivos compilados)
/target/            

#Otros archivos Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
builddirectory/

# Directorios de configuración específicos del proyecto
nb-configuration.xml  
netbeans
/nbproject/
/nb-configuration.xml
/nbbuild/
/build/
